<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LOOP实时数据</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/index.css" media="all">
</head>
<body>

<div class="layui-layer-title layui-bg-cyan">
    <h1>策略涨跌可视化</h1>
</div>


{{/*tab*/}}
{{/*<iframe src="https://www.baidu.com/" width="100%", height=300px></iframe>*/}}

{{/*<div class="layui-carousel" id="test1">*/}}
{{/*    <div carousel-item>*/}}
{{/*        <div>条目1</div>*/}}
{{/*        <div>条目2</div>*/}}
{{/*        <div>条目3</div>*/}}
{{/*        <div>条目4</div>*/}}
{{/*        <div>条目5</div>*/}}
{{/*    </div>*/}}
{{/*</div>*/}}

<div class="layui-tab layui-tab-card">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">

        <ul class="layui-tab-title" >
            <li class="layui-this" lay-id="111">做多</li>
            <li lay-id="112">做空</li>
            <li lay-id="113">回测走势</li>
        </ul>

{{/*        <div class="layui-tab-content" style="height: 100px;">*/}}
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">{{ template "loopLong"}}</div>
            <div class="layui-tab-item">{{ template "loopShort"}}</div>
            <div class="layui-tab-item">{{ template "loopBack"}}</div>
        </div>

    </div>
</div>

<script>
    layui.use('element', function(){
        var element = layui.element;

        //获取hash来切换选项卡，假设当前地址的hash为lay-id对应的值
        var layid = location.hash.replace(/^#test1=/, '');
        element.tabChange('test1', layid); //假设当前地址为：http://a.com#test1=222，那么选项卡会自动切换到“发送消息”这一项

        //监听Tab切换，以改变地址hash值
        element.on('tab(test1)', function(){
            location.hash = 'test1='+ this.getAttribute('lay-id');
        });
    });
</script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        //分类做多
        table.render({
            elem: '#rlong'
            // ,height: 312
            ,url: '/top10/rlong' //数据接口
            ,page: true //开启分页
            // ,toolbar: true
            ,cols: [[ //表头
                {field: 'stock', title: '股票', width:150}
                ,{field: 'total', title: '统计', width:150, sort: true}
                {{range .dates_rlong}}
                ,{field: '{{.}}', title: '{{.}}', width:150, sort: true}
                {{end}}

            ]]
        });

        //财务做多
        table.render({
            elem: '#flong'
            // ,height: 312
            ,url: '/top10/flong' //数据接口
            ,page: true //开启分页
            // ,toolbar: true
            ,cols: [[ //表头
                {field: 'stock', title: '股票', width:150}
                ,{field: 'total', title: '统计', width:150, sort: true}
                {{range .dates_flong}}
                ,{field: '{{.}}', title: '{{.}}', width:150, sort: true}
                {{end}}

            ]]
        });

        // 滑动窗口做多
        table.render({
            elem: '#slong'
            // ,height: 312
            ,url: '/top10/slong' //数据接口
            ,page: true //开启分页
            // ,toolbar: true
            ,cols: [[ //表头
                {field: 'stock', title: '股票', width:150}
                ,{field: 'total', title: '统计', width:150, sort: true}
                {{range .dates_slong}}
                ,{field: '{{.}}', title: '{{.}}', width:150, sort: true}
                {{end}}

            ]]
        });

        //分类做空
        table.render({
            elem: '#rshort'
            // ,height: 312
            ,url: '/top10/rshort' //数据接口
            ,page: true //开启分页
            // ,toolbar: true
            ,cols: [[ //表头
                {field: 'stock', title: '股票', width:150}
                ,{field: 'total', title: '统计', width:150, sort: true}
                {{range .dates_rshort}}
                ,{field: '{{.}}', title: '{{.}}', width:150, sort: true}
                {{end}}

            ]]
        });

        //财务做空
        table.render({
            elem: '#fshort'
            // ,height: 312
            ,url: '/top10/fshort' //数据接口
            ,page: true //开启分页
            // ,toolbar: true
            ,cols: [[ //表头
                {field: 'stock', title: '股票', width:150}
                ,{field: 'total', title: '统计', width:150, sort: true}
                {{range .dates_fshort}}
                ,{field: '{{.}}', title: '{{.}}', width:150, sort: true}
                {{end}}

            ]]
        });

        // 滑动窗口做空
        table.render({
            elem: '#sshort'
            // ,height: 312
            ,url: '/top10/sshort' //数据接口
            ,page: true //开启分页
            // ,toolbar: true
            ,cols: [[ //表头
                {field: 'stock', title: '股票', width:150}
                ,{field: 'total', title: '统计', width:150, sort: true}
                {{range .dates_sshort}}
                ,{field: '{{.}}', title: '{{.}}', width:150, sort: true}
                {{end}}

            ]]
        });

    });
</script>

</body>
</html>