{{ define "loopLong" }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AI调仓</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/index.css" media="all">
</head>
<body>

{{/*表格*/}}
{{/*<div class="layui-main">*/}}
<div class="layui-container">
    <div class="layui-row">
        {{/*<div class="layui-main layui-col-md5  layui-col-md-offset4">*/}}
        <div class="layui-layer-title layui-bg-green">
            <h4>AI调仓(每日top9持仓8天)</h4>
        </div>
        <div class="layui-layer-content">
            <table id="rlong" lay-filter="rlong"></table>
        </div>

        <div class="layui-layer-title layui-bg-green">
            <h4>财务做多</h4>
        </div>
        <div class="layui-layer-content">
            <table id="flong" lay-filter="flong"></table>
        </div>

        <div class="layui-layer-title layui-bg-green">
            <h4>滑动窗口做多</h4>
        </div>
        <div class="layui-layer-content">
            <table id="slong" lay-filter="slong"></table>
        </div>

    </div>
</div>


<script src="/static/lib/layui/layui.js"></script>


</body>
</html>
{{ end }}
