.layui-layer-title{
    text-align: center;
    padding: 0 ;
    /*height: 100px;*/
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.layui-layer-content{
    text-align:center;
    /*color: #9f7f49;*/
}

#loopsid {
    background-color:yellow;
}

/*#graph{*/
/*    text-align: center;*/
/*}*/

#test1{
    text-align:center;
    padding: 0 ;
}